<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<table class="table table-hover table-condensed">
    <div class="contentDiv">
        <legend>
            <strong>管理员信息</strong>
        </legend>
        <thead>
        <tr>
            <td align="center">姓名</td>
            <td align="center">账号</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="admin:${admin}">
            <td align="center" th:text="${admin.aName}"></td>
            <td align="center" th:text="${admin.aNumber}"></td>
        </tr>
        </tbody>
    </div>
</table>
<a th:href="@{/admin/student}"><button type="button">学生管理</button></a>
<a th:href="@{/admin/teacher}"><button type="button">教师管理</button></a>
<a th:href="@{/admin/course}"><button type="button">课程管理</button></a>
<a th:href="@{/admin/profession}"><button type="button">专业管理</button></a>

<!--<a th:href="@{/student/find/{sNumber}(sNumber=${student.sNumber})}" role="button">成绩查询</a>-->
</body>
</html>