<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <title>选课信息</title>
</head>
<body>
<br/>
<div align="center" class="container">
    <h2>可选课信息</h2>
    <br/>
    <div class="container">
        <table class="table  table-bordered">
            <thead class="bg-primary text-white" align="center">
            <tr >
                <th align="center">课程名称</th>
                <th align="center">课程号</th>
                <th align="center">学时</th>
                <th align="center">学分</th>
                <th align="center">选择</th>
            </tr>
            </thead>
            <tr th:each="courseList:${courseList}">
                <td align="center" th:text="${courseList.cName}"></td>
                <td align="center" th:text="${courseList.cNumber}"></td>
                <td align="center" th:text="${courseList.cTime}"></td>
                <td align="center" th:text="${courseList.cScore}"></td>
                <td align="center">
                    <a th:href="@{/admin/profession/r/select/{cNumber}(cNumber=${courseList.cNumber})}">
                    <button type="button" class="btn-primary rounded">选择</button>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <br/>
    <div class="container">
        <table class="table  table-bordered">
            <h2>已选课信息</h2>
            <br/>
            <thead class="bg-primary text-white" align="center">
            <tr >
                <th align="center">课程名称</th>
                <th align="center">课程号</th>
                <th align="center">学时</th>
                <th align="center">学分</th>
            </tr>
            </thead>
            <tr th:each="course:${course2}">
                <td align="center" th:text="${course.cName}"></td>
                <td align="center" th:text="${course.cNumber}"></td>
                <td align="center" th:text="${course.cTime}"></td>
                <td align="center" th:text="${course.cScore}"></td>
            </tr>
        </table>
    </div>
    <br/>
    <div align="center" class="form-group">
        <a th:href="@{/admin/profession}">
            <button type="button" class="btn">返回</button>
        </a>
    </div>
</div>
</body>
</html>

