<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <title>课程列表</title>
</head>
<body>
<br/>

<div align="center" class="container">
    <h2>课程列表</h2>
    <br/>
    <div class="container">
        <table class="table  table-bordered">
            <thead class=" bg-primary text-white" align="center">
            <tr >
                <th align="center">课程号</th>
                <th align="center">课程名</th>
                <th align="center">学时</th>
                <th align="center">学分</th>
            </tr>
            </thead>
            <tbody>
            <tr  th:each="course:${course}">
                <td align="center" th:text="${course.cNumber}"></td>
                <td align="center" th:text="${course.cName}"></td>
                <td align="center" th:text="${course.cTime}"></td>
                <td align="center" th:text="${course.cScore}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<br/>
<br/>
<div align="center" class="container">
    <a th:href="@{/admin/student/course/change}">
        <button type="button" class="btn btn-primary">变更</button>
    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a th:href="@{/admin/student}">
        <button type="button" class="btn">返回</button>
    </a>
</div>
</div>
</body>
</html>