<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<table>
    <div>
        <legend>
            <strong>课程列表</strong>
        </legend>
        <thead>
        <tr>
            <td align="center">课程号</td>
            <td align="center">课程名</td>
            <td align="center">学时</td>
            <td align="center">学分</td>
            <td align="center">选择</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course:${courseList}">
            <td align="center" th:text="${course.cNumber}"></td>
            <td align="center" th:text="${course.cName}"></td>
            <td align="center" th:text="${course.cTime}"></td>
            <td align="center" th:text="${course.cScore}"></td>
            <td align="center"><a th:href="@{/admin/student/course/select/{cNumber}(cNumber=${course.cNumber})}">
                <button type="button">选择</button>
            </a></td>
        </tr>
        </tbody>
    </div>
</table>
</body>
</html>