<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body>
<div class="container" align="center">
    <br/>
    <div align="center" class="form-group">
        <table class="table">
            <thead class=" bg-primary text-white" align="center">
            <tr>
                <th align="center">姓名</th>
                <th align="center">学号</th>
                <th align="center">性别</th>
                <th align="center">年龄</th>
                <th align="center">专业</th>
                <th align="center">电话</th>
                <th align="center">成绩管理</th>
                <th align="center">选课管理</th>
                <th align="center">信息管理</th>
                <th align="center">删除</th>
            </tr>
            </thead>
            <tr align="center" th:each="student:${studentList}" method="POST">
                <td align="center" th:text="${student.sName}"></td>
                <td align="center" th:text="${student.sNumber}"></td>
                <td align="center" th:text="${student.sSex}"></td>
                <td align="center" th:text="${student.sAge}"></td>
                <td align="center" th:text="${student.sProfession}"></td>
                <td align="center" th:text="${student.sTelephone}"></td>
                <td><a th:href="@{/admin/student/grade/{sNumber}(sNumber=${student.sNumber})}">
                    <button type="button" class="RoleOfdelete btn btn-primary  btn-sm">管理</button>
                </a></td>
                <td><a th:href="@{/admin/student/course/{sNumber}(sNumber=${student.sNumber})}">
                    <button type="button" class="RoleOfdelete btn btn-primary  btn-sm">管理</button>
                </a></td>
                <td><a th:href="@{/admin/student/update/{sNumber}(sNumber=${student.sNumber})}">
                    <button type="button" class="RoleOfdelete btn btn-primary  btn-sm">管理</button>
                </a></td>
                <td align="center"><a th:href="@{/admin/student/del/{sNumber}(sNumber=${student.sNumber})}">
                    <button type="button" class="btn-danger rounded">删除</button>
                </a></td>
            </tr>
        </table>
    </div>
    <div align="center" class="form-group">
        <br/>
        <a th:href="@{/admin/info}">
            <button type="button" class="btn">返回</button>
        </a>
    </div>
</div>
</body>
</html>