<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form th:action="@{/student/{action}(action=${action})}" method="POST">
    姓名：<input type="text" id="student_name" name="sName" th:value="${student.sName}"/><br/>
    学号：<input type="text" id="student_number" name="sNumber" th:value="${student.sNumber}"/><br/>
    性别：<br/>
    <table>
        <input type="radio" name="sSex" th:value="男"/>男
        <input type="radio" name="sSex" th:value="女"/>女
    </table>
    年龄：<input type="text" id="user_age" name="sAge" th:value="${student.sAge}"/><br/>
    专业：<br/>
    <table>
        <td th:each="profession:${professionList}">
            <input type="radio" name="sProfession" th:value="${profession.pName}"/>
            <span th:text="${profession.pName}"/>
        </td>
    </table>
    电话：<input type="text" id="student_tel" name="sTelephone" th:value="${student.sTelephone}"/><br/>
    密码：<input type="text" id="student_passward" name="sPasswd" th:value="${student.sPasswd}"/><br/>
    <input  type="submit" value="提交"/><br/>
</form>
</body>
<a th:href="@{/login}">
    <button type="button">返回</button>
</a>
</html>