<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form th:action="@{/login}" method="post">
    学号：<input type="text" id="stnumber" name="sNumber" th:value="${student.sNumber}"/><br/>
    密码：<input type="password" id="stpassword" name="sPasswd" th:value="${student.sPasswd}"/><br/>
    <input class="btn btn-primary" type="submit" value="提交"/><br/>
    <a class="btn btn-primary" th:href="@{/student/create}" role="button">创建用户</a>
</form>
<a class="btn btn-primary" th:href="@{/tlogin}" role="button">教师入口</a>
<a class="btn btn-primary" th:href="@{/alogin}" role="button">管理员入口</a>
</body>
</html>