<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form th:action="@{/student/update/{action}(action=${action})}" method="POST">
    姓名：<input type="text" id="student_name" name="sName" th:value="${student.sName}"/><br/>
    学号：<input type="text" id="student_number" name="sNumber" th:value="${student.sNumber}"/><br/>
    性别：<input type="text" id="student_sex" name="sSex" th:value="${student.sSex}"/><br/>
    年龄：<input type="text" id="user_age" name="sAge" th:value="${student.sAge}"/><br/>
    专业：<input type="text" id="student_pro" name="sProfession" th:value="${student.sProfession}"/><br/>
    电话：<input type="text" id="student_tel" name="sTelephone" th:value="${student.sTelephone}"/><br/>
    <input type='hidden' id="student_passward" name="sPasswd" th:value="${student.sPasswd}"/><br/>
    <input  type="submit" value="提交"/>
    <a  th:href="@{/student/info}" class="button">返回</a>
</form>
</body>
</html>