<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <title>授课信息</title>
</head>
<body>
<div class="container">
    <h2 align=center>课程列表：</h2>
    <br/>
    <table class="table table-bordered">
        <thead class=" bg-primary text-white" align="center">
        <tr>
            <td text-align="center">课程号</td>
            <td align="center">课程名</td>
            <td align="center">学时</td>
            <td align="center">学分</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td align="center" th:text="${course.cNumber}"></td>
            <td align="center" th:text="${course.cName}"></td>
            <td align="center" th:text="${course.cTime}"></td>
            <td align="center" th:text="${course.cScore}"></td>
        </tr>
        </tbody>
    </table>
    </br>
    <div class="form-group" align="center">
        <a th:href="@{/teacher/info}">
            <button type="button" class="btn">返回</button>
        </a>
    </div>
</div>
</body>
</html>