<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body>
<div class="container">
    <legend align="center">
        <strong>课程信息</strong>
    </legend>
    <br/>
    <table class="table table-bordered ">
        <thead class=" bg-primary text-white" align="center">
        <tr>
            <th align="center">课程号</th>
            <th align="center">课程名</th>
            <th align="center">学时</th>
            <th align="center">学分</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course:${course}">
            <td align="center" th:text="${course.cNumber}"></td>
            <td align="center" th:text="${course.cName}"></td>
            <td align="center" th:text="${course.cTime}"></td>
            <td align="center" th:text="${course.cScore}"></td>
        </tr>
        </tbody>
    </table>
    <br/>
    <br/>
    <table class="table table-bordered">
        <div class="contentDiv">
            <thead class=" bg-primary text-white" align="center">
            <tr>
                <th >成绩</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sc:${sc}">
                <td align="center" th:text="${sc.cGrade}"></td>
            </tr>
            </tbody>
        </div>
    </table>
    <br/>
</div>
<div align="center" class="form-group">

    <a th:href="@{/student/info}">
        <button type="button" style="font-size:0.8em; width: 10%;height: 20%;" class=" btn btn-primary">返回</button>
    </a>

</div>
</body>
</html>